@use "variables";

.hero {
    height: 100vh;
    position: relative;

    &-arrow {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        scroll-behavior: smooth;
        transition: 200ms;
        cursor: pointer;

        & svg {
            fill: $bg-color;
            transition: all 0.3s cubic-bezier(.19, .64, .96, .41);

            &:hover,
            &:focus {
                fill: $text-color;
                transform: scale(1.2);
            }
        }
    }
}


.swiper {
    &-hero {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
        position: absolute;
        margin-bottom: 0px;

        .first,
        .second,
        .third,
        .fourth,
        .fifth {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }

        .first {
            background: linear-gradient(to right, rgba(126, 90, 255, 0.85), rgba(85, 183, 255, 0.85)),
                url('../images/banner.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
        }

        .second {
            background: linear-gradient(to right, rgba(151, 149, 4, 0.85), rgba(240, 241, 141, 0.85)),
                url('../images/banner1.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
        }

        .third {
            background: linear-gradient(to right, rgba(134, 7, 18, 0.85), rgba(236, 145, 145, 0.85)),
                url('../images/banner6.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
        }

        .fourth {
            background: linear-gradient(to right, rgba(4, 48, 21, 0.85), rgba(134, 248, 229, 0.85)),
                url('../images/banner4.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
        }

        .fifth {
            background: linear-gradient(to right, rgba(102, 10, 61, 0.85), rgba(252, 160, 210, 0.85)),
                url('../images/banner5.jpg') no-repeat;
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            background-position: center;
        }

        .slick {

            &-dots {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                gap: 50px;
                margin-right: 10px;
                font-size: 0;

                button {
                    display: none;
                }

                li {
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    border: 1px solid $bg-color;
                    cursor: pointer;

                    &.slick-active {
                        background-color: $bg-color;
                    }
                }
            }
        }
    }

    &-slide {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    &-header {
        display: block;
        @extend %hero-header;
        text-align: center;
        margin-bottom: 20px;
    }

    &-description {
        display: block;
        @extend %hero-text;
        text-align: center;
    }
}

//      section projects 




.projects {
    padding-top: 160px;
    padding-bottom: 150px;
    position: relative;

    &-header {
        @extend %header-section-dark;
        position: relative;
        text-align: center;
        margin-bottom: 147px;
        z-index: 10;

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            border: 1px solid $text-color;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 177px;
    }

    &-item {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        gap: 60px;
    }

    &-img {
        display: block;
        position: relative;


        &-left {
            top: -35px;
            left: -140px;
        }

        &-right {
            top: -39px;
            right: -140px;
        }
    }

    &-bg-left {
        position: absolute;
        top: 20%;
        left: 0;
        z-index: -1;
        max-width: 30vw;
        width: 100%;
        max-height: 470px;
        height: 100%;
    }

    &-bg-right {
        position: absolute;
        bottom: 12%;
        right: 0;
        z-index: -1;
        max-width: 30vw;
        width: 100%;
        max-height: 470px;
        height: 100%;
    }

    &-sub {
        @extend %sub-header;
    }

    &-title {
        @extend %header-section-dark;
        margin-bottom: 19px;
    }

    &-text {
        font: $text-section;
        color: $text-color;
        margin-bottom: 40px;
    }

    &-button {
        @extend %button;
        margin-bottom: 70px;
    }

    &-map {
        font: $text-location;
        font-style: italic;
        padding-bottom: 10px;

        &-dot {
            margin-right: 10px;
            fill: $text-color;
        }
    }
}