// Colors  bg

$bg-color: #ffffff;

$bg-first: #55B7FF;
$bg-second: #7E5AFF;

$hero-gradient: (243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$section-gradient: (237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
$footer-gradient: (251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);

// Colors 

$text-color: #2C4058;
$text-button: #000000;
$icon-color: #7E5AFF;



// Fonts

$nav-header: 400 14px/1.28 'SourceSansPro400',
sans-serif;
$hero-header: 700 80px/1.22 'Montserrat700',
sans-serif;
$hero-text: 400 18px/1.22 'Montserrat400',
sans-serif; //slider-author
$header-section: 700 44px/1.23 'Montserrat700',
sans-serif;
$sub-header: 400 22px/1.23 'Montserrat400',
sans-serif;
$text-section: 400 18px/1.67 'OpenSans400',
sans-serif;
$text-button: 400 14px/1.21 'Montserrat400',
sans-serif; //slider-data
$text-location: 400 15px/1.33 'OpenSans-Italic',
sans-serif;
$slider-header: 700 22px/1.23 'Montserrat700',
sans-serif;
$slider-text: 400 18px/1.39 'OpenSans400',
sans-serif;
$form-text: 400 18px/1.5 'Montserrat400',
sans-serif; //form-button